automation/n8n_solar_workflow.json
{
  "name": "Solar Proposal Automation Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "solar-proposal-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bill-upload-webhook",
      "name": "Bill Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-900, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.BACKEND_URL || 'http://backend:8000') + '/process'}}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "process-pdf",
      "name": "Process PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.BACKEND_URL || 'http://backend:8000') + '/solar/proposals/from-document/' + $json.documents[0].document_id}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ client_info: { company: $json.client_company || 'Uploaded Client', name: $json.contact_name || '', email: $json.contact_email || '' }, site_data: { address: $json.site_address || '', country: $json.country || '', usable_roof_area_m2: Number($json.usable_roof_area_m2 || 0) }, assumptions: { grid_tariff_per_kwh: Number($json.grid_tariff_per_kwh || 0.16), ppa_rate_per_kwh: Number($json.ppa_rate_per_kwh || 0.115), solar_yield_kwh_per_kwp_year: Number($json.solar_yield_kwh_per_kwp_year || 1450), target_offset_pct: Number($json.target_offset_pct || 0.75) }, actor: 'n8n' }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "create-proposal",
      "name": "Create Proposal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-420, 0]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{$json.status}}",
              "rightValue": "Needs Review",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "needs-review",
      "name": "Needs Review?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-180, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "event",
              "type": "string",
              "value": "proposal_needs_review"
            },
            {
              "name": "proposal_id",
              "type": "string",
              "value": "={{$json.proposal_id}}"
            },
            {
              "name": "client",
              "type": "string",
              "value": "={{$json.client_info.company || $json.source_filename || 'Unknown'}}"
            },
            {
              "name": "risk_level",
              "type": "string",
              "value": "={{$json.underwriting_checklist.risk_level}}"
            },
            {
              "name": "next_action",
              "type": "string",
              "value": "={{$json.review.next_action}}"
            }
          ]
        },
        "options": {}
      },
      "id": "review-notification-payload",
      "name": "Review Notification Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [60, -100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "client",
              "type": "string",
              "value": "={{$json.client_info.company || $json.source_filename || 'Unknown'}}"
            },
            {
              "name": "proposal_id",
              "type": "string",
              "value": "={{$json.proposal_id}}"
            },
            {
              "name": "stage",
              "type": "string",
              "value": "={{$json.status}}"
            },
            {
              "name": "system_kwp",
              "type": "number",
              "value": "={{$json.calculation.estimated_system_size_kwp}}"
            },
            {
              "name": "annual_savings",
              "type": "number",
              "value": "={{$json.calculation.estimated_annual_savings}}"
            }
          ]
        },
        "options": {}
      },
      "id": "crm-row-payload",
      "name": "CRM Row Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [60, 120]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, proposal_id: $('Create Proposal').item.json.proposal_id, status: $('Create Proposal').item.json.status } }}",
        "options": {}
      },
      "id": "respond-to-upload",
      "name": "Respond to Upload",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [300, 120]
    }
  ],
  "connections": {
    "Bill Upload Webhook": {
      "main": [[{"node": "Process PDF", "type": "main", "index": 0}]]
    },
    "Process PDF": {
      "main": [[{"node": "Create Proposal", "type": "main", "index": 0}]]
    },
    "Create Proposal": {
      "main": [[{"node": "Needs Review?", "type": "main", "index": 0}, {"node": "CRM Row Payload", "type": "main", "index": 0}]]
    },
    "Needs Review?": {
      "main": [[{"node": "Review Notification Payload", "type": "main", "index": 0}], []]
    },
    "CRM Row Payload": {
      "main": [[{"node": "Respond to Upload", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}